apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
spec:
  selector:
    matchLabels:
      app: course-app
  template:
    metadata:
      labels:
        app: course-app
    spec:
      containers:
      - name: course-app
        image: igyadmin/course-app:v1 
        ports:
        - containerPort: 8080
        env:
        - name: REDIS_HOST
          value: "dragonfly" 